<ion-header-bar align-title="center" class="bar-balanced">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-thin-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >风采展示</div>
</ion-header-bar>
<ion-view>
    <ion-content style="background-color: lightblue;">
        <div style="    display: table-row-group;
position: absolute;
width: 100%;
text-align: center;
top: -10px;
left: 0px;">
            <img src="img/personalbg.jpg" style="    position: absolute;
width: 120px;
border-radius: 120px;
top: 64px;
display: block;
left: 0;
right: 0;
margin: 0 auto;">
            <p style="    font-size: 22px;
font-weight: 800;
margin-top: 211px;">农业知识 传承科技</p>
            <p style="margin-top: 150px;">官网：www.farm.com</p>
            <p>公众号：农业知识交流会</p>
            <p>@2015-2016 ALL Rights Reserved</p>
        </div>
    </ion-content>
</ion-view>
