
<ion-slide-box does-continue="true" slide-interval="5000" show-pager="false" active-slide="myActiveSlide">
    <ion-slide>
        <div style="background-image: url('img/home/index_1.png');background-size: 100% 100%; width: 100%;height: 100%;"></div>
    </ion-slide>
    <ion-slide>
        <div style="background-image: url('img/home/index_2.png');background-size: 100% 100%; width: 100%;height: 100%;"></div>
    </ion-slide>
    <ion-slide>
        <div ng-click="enterView()" style="background-image: url('img/home/index_3.png');background-size: 100% 100%; width: 100%;height: 100%;"></div>
    </ion-slide>
</ion-slide-box>


    
