
<ion-content overflow-scroll="false" class="info-fm login">

    <div class="login-logo tac">
        <img src="img/default.jpg" alt="" /><br />
        三农先锋
    </div>
    <div class="item row">
        <div class="col col-25">
            <span class="f-title">用户名</span>
        </div>
        <div class="col col-75">
            <input type="text" ng-model="ModelData.UserName" placeholder="填写已注册的手机号码" ng-pattern="/^(\d+){11}$/" />
        </div>
    </div>
    <div class="item row">
        <div class="col col-25">
            <span class="f-title">密码</span>
        </div>
        <div class="col col-75">
            <input type="password" ng-model="ModelData.Password" placeholder="6-13位数字、字母" ng-pattern="/^[\@A-Za-z0-9_\-\!\#\$\%\^\*\.\~]{6,13}$/" />
        </div>
    </div>
    <div class="item row">
        <div class="col col-25">
            <span class="f-title">记住密码</span>
        </div>
        <div class="col col-75">
            <ion-checkbox ng-model="ModelData.IsRemember" ng-checked="ModelData.IsRemember" class="border-none pdl-none"></ion-checkbox>
        </div>
    </div>

    <div class="padding">
        <button class="button button-full button-positive" ng-click="doLogin()">
            登录
        </button>
        <a href="#/register" class="register">
            <p class="tac">没有登录账号，点这里快速注册</p>
        </a>
    </div>

  <!--<div class="login-mian" >
    <div class="login-content">
      <div class="blank-h12"></div>
      <div class="blank-h12"></div>
      <div class="blank-h12"></div>
      <div class="blank-h12"></div>
      <div class="logo-wrap  text-center ">
        <span class="logo">
          <img  src="img/logo.png" style="width: 120px;color:#00a0e9;filter: green;">
        </span>
      </div>
      <div class="blank-h12"></div>
      <div class="blank-h12"></div>
      <div class="blank-h12"></div>
      <div class="input-wrap row row-center">
        <label  class="left-icon-wrap">
          <i class="ion ion-iphone"></i>
        </label>
        <input type="text" class="col login-input" placeholder="请输入用户名" ng-model="user.name" maxlength="11">
      </div>
      <div class="input-wrap row row-center mt-20">
        <label  class="left-icon-wrap">
          <i class="icon ion-ios-locked-outline"></i>
        </label>
        <input type='password' class="col login-input" placeholder="请输入密码" ng-model="user.password" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
      </div>
      <div class="blank-h12"></div>
      <div class="blank-h12"></div>
      <button class="button button-block  button-balanced " style="background-color:#00a0e9;" ng-click="login()">
        登录
      </button>
    </div>


  </div>-->
</ion-content>
