<ion-view>
    <ion-content overflow-scroll="false" class="navigation personal">

        <a style="position: absolute;right: 0;top: 14px;" href="#/tab/personal">
            <i class="icon" style="color: white;font-size: 22px;">
                <img src="img/icons/icon_EditUserInfo.png" />
            </i>
        </a>
        <div style="display: block;height: 190px;background-image: url('img/bg_UserCenter.png');background-size: 100% 100%;text-align: center;">
            <div class="blank-h44"></div>
            <img style="width: 64px;height: 64px;display:block; margin:0 auto;border-radius:64px;border: 1px solid white;" src="{{auth.ResultObj.Photo?auth.ResultObj.Photo:'img/mike.png'}}">
            <div style="height: 8px;"></div>
            <p style="color: white;font-size: 19px; margin-bottom: 5px;">{{auth.ResultObj.TrueName?auth.ResultObj.TrueName:"三农先锋"}}</p>
            <div style="color: white;font-size: 14px;">
                <i class="icon ion-ios-location-outline" style="font-size:16px; margin-right:2px; "></i>
                <span>泰州兴化</span>
            </div>
        </div>
        <ion-list>
            <ion-item class="item item-divider pdl8">专家会诊</ion-item>
            <ion-item class="item item-icon-left item-icon-right" href="#/tab/mineQuestion/0">
                <i class="icon"><img src="img/icons/zjhz_wtjd.png" /></i>
                我提交的
                <span class="badge badge-assertive">{{ModelData.Zjhz_TotalSend}}</span>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" href="#/tab/mineQuestion/1">
                <i class="icon"><img src="img/icons/zjhz_wsdd.png" /></i>
                我收到的
                <span class="badge badge-assertive">{{ModelData.Zjhz_TotalReceive}}</span>
            </ion-item>
            <!--<a class="item item-icon-left" href="#/tab/mineQuestion/0">
                <i class="icon ion-ios-pricetags-outline item-font-20"></i>
                我提交的
            </a>-->
            <!--<a class="item item-icon-left" href="#/tab/mineQuestion/1">
                <i class="icon ion-ios-box-outline item-font-20"></i>
                我收到的
                <span class="badge badge-assertive" ng-if="ResultObj">{{RecordCount}}</span>
            </a>-->
            <ion-item class="item item-divider pdl8">问题上报</ion-item>
            <ion-item class="item item-icon-left item-icon-right" href="#/tab/mineAdvice/0">
                <i class="icon"><img src="img/icons/wtsb_wsbd.png" /></i>
                我上报的
                <span class="badge badge-assertive">{{ModelData.Wtsb_TotalSend}}</span>
                <!--<i class="icon ion-ios-arrow-right f-dark" style="font-size:16px;"></i>-->
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" href="#/tab/mineAdvice/1">
                <i class="icon"><img src="img/icons/wtsb_wsdd.png" /></i>
                我收到的
                <span class="badge badge-assertive">{{ModelData.Wtsb_TotalReceive}}</span>
                <!--<i class="icon ion-ios-arrow-right f-dark" style="font-size:16px;"></i>-->
            </ion-item>
            <!--<a class="item item-icon-left" href="#/tab/mineAdvice/0">
                <i class="icon ion-ios-pricetags-outline item-font-20"></i>
                我上报的
            </a>-->
            <!--<a class="item item-icon-left" href="#/tab/mineAdvice/1">
                <i class="icon ion-ios-box-outline item-font-20"></i>
                我收到的
            </a>-->
            <ion-item class="item item-divider pdl8">农机管理</ion-item>
            <ion-item class="item item-icon-left item-icon-right" href="#/rentOut/mine">
                <i class="icon"><img src="img/icons/njgz_wdqz.png" /></i>
                我的求租
                <i class="icon ion-ios-arrow-right f-dark" style="font-size:16px;"></i>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" href="#/rent/mine">
                <i class="icon"><img src="img/icons/njgl_wdzl.png" /></i>
                我的租赁
                <i class="icon ion-ios-arrow-right f-dark" style="font-size:16px;"></i>
            </ion-item>
            <!--<a class="item item-icon-left" href="#/rentOut/mine">
                <i class="icon ion-ios-world-outline item-font-20"></i>
                我的求租
            </a>-->
            <!--<a class="item item-icon-left" href="#/rent/mine">
                <i class="icon ion-android-globe item-font-20"></i>
                我的租赁
            </a>-->
            <div class="blank-h12"></div>
            <ion-item class="item item-icon-left item-icon-right" href="#/tab/set">
                <i class="icon"><img src="img/icons/sys_set.png" /></i>
                设置
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <!--<a class="item item-icon-left" href="#/tab/set">
                <i class="icon ion-ios-gear-outline item-font-20"></i>
                设置
            </a>-->
        </ion-list>
    </ion-content>
</ion-view>