<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-thin-left" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title">{{title}}</h1>
</ion-header-bar>
<ion-view>
    <ion-content overflow-scroll="false" class="item-divider">
        <ion-refresher pulling-text="下拉刷新..." spinner="lines" pulling-icon="ion-arrow-down-c" on-refresh="fresh()"></ion-refresher>
        <div class="list">
            <div ng-click="getArticle(item)" ng-repeat="item in dataArr" class="item item-avatar" ng-class="ItemAvatarStyle">
                <img src="{{item.Img ? item.Img : ModelData.ImgLeft}}" alt="" />
                <h2>{{item.Title}}</h2>
                <p class="fl">上传单位：{{item.Auth}}</p>
                <p class="fr">{{item.AddDate}}</p>
            </div>
            <!--<div class="div-text-point-2" ng-click="getArticle(item)" ng-repeat="item in dataArr">
                <div class="div-text-point-p-2"></div>
                <p class="div-text-point-text-2 dm-nowrap-2">{{item.Title}}</p>
            </div>-->
        </div>

        <ion-infinite-scroll ng-if="hasMore" spinner="lines" immediate-check='false' distance="1%" on-infinite="fetch(false)"></ion-infinite-scroll>

    </ion-content>

</ion-view>