<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-thin-left" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title">{{title}}</h1>
</ion-header-bar>
<ion-view>
    <ion-content>
        <ion-refresher pulling-text="正在刷新..." pulling-icon="ion-arrow-down-c" on-refresh="doRefresh()"></ion-refresher>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/article/:22">
                <img src="img/test.jpg">
                <h2>农业作坊</h2>
                <p class="dm-nowrap-3">我国是一个农业大国,农业是世界上人口最多的我国赖以生存的基础产业。土地资源是人类生产和生活必需的物质基础,农业土地是土地资源利用的主体,是进行...</p>
            </a>
            <a class="item item-thumbnail-left" href="#/article/:23">
                <img src="img/test2.jpg">
                <h2>农业作坊</h2>
                <p class="dm-nowrap-3">我国是一个农业大国,农业是世界上人口最多的我国赖以生存的基础产业。土地资源是人类生产和生活必需的物质基础,农业土地是土地资源利用的主体,是进行...</p>
            </a>
            <a class="item item-thumbnail-left" href="#/article/:24">
                <img src="img/test.jpg">
                <h2>农业作坊</h2>
                <p class="dm-nowrap-3">我国是一个农业大国,农业是世界上人口最多的我国赖以生存的基础产业。土地资源是人类生产和生活必需的物质基础,农业土地是土地资源利用的主体,是进行...</p>
            </a>
            <a class="item item-thumbnail-left" href="#/article/:25">
                <img src="img/test2.jpg">
                <h2>农业作坊</h2>
                <p class="dm-nowrap-3">我国是一个农业大国,农业是世界上人口最多的我国赖以生存的基础产业。土地资源是人类生产和生活必需的物质基础,农业土地是土地资源利用的主体,是进行...</p>
            </a>
        </div>
    </ion-content>

</ion-view>