<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-thin-left" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title">求租发布</h1>
</ion-header-bar>
<ion-view>
    <ion-content overflow-scroll="false">

        <div class="info-fm">
            <div class="item row">
                <div class="col col-25"><span>求租标题：</span></div>
                <div class="col col-75">
                    <input type="text" ng-model="msg.title" placeholder="请输入求租的标题" />
                </div>
            </div>
            <div class="item row">
                <div class="col col-25"><span>求租简介：</span></div>
                <div class="col col-75">
                    <input type="text" ng-model="msg.summary" placeholder="请输入求租简介" />
                </div>
            </div>
            <div class="item row">
                <div class="col col-25"><span>面积大小：</span></div>
                <div class="col col-75">
                    <input type="text" ng-model="msg.mu" placeholder="请输入面积大小" />
                </div>
            </div>
            <div class="item row">
                <div class="col col-25"><span>求租时间：</span></div>
                <div class="col col-75">
                    <input type="text" ng-model="msg.rentaldate" ng-click="onDpDate('1')" placeholder="请输入求租时间" />
                </div>
            </div>
            <div class="item row">
                <div class="col col-25"><span>求租地址：</span></div>
                <div class="col col-75">
                    <input type="text" ng-model="msg.area" placeholder="请输入求租地址" disabled ng-if="!opt.canEdit" />
                    <input type="text" ng-model="msg.area" placeholder="请输入求租地址" ng-if="opt.canEdit" />
                </div>
            </div>
            <div class="item row">
                <div class="col col-25"><span>型号要求：</span></div>
                <div class="col col-75">
                    <input type="text" ng-model="msg.model" placeholder="输入特别的机器要求" />
                </div>
            </div>
        </div>

        <div class="padding">
            <button class="button button-full button-positive" ng-click="comfirm()">发布</button>
        </div>

    </ion-content>
</ion-view>
