<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-thin-left" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title">农机求租</h1>
    <div class="buttons">
        <a class="button button-clear" href="#/rentOutPush">发布</a>
    </div>
</ion-header-bar>
<ion-view>
    <ion-content overflow-scroll="false">
        <ion-refresher pulling-text="正在刷新..." spinner="lines" pulling-icon="ion-arrow-down-c" on-refresh="fresh()"></ion-refresher>
        <ion-list class="disable-user-behavior">
            <ion-item class="item-remove-animate item-right-editable item" ng-repeat="item in dataArr" ng-click="getDetail(item)">
                <h2>标题: {{item.Title}}</h2>
                <p class="dm-nowrap">简介：{{item.Summary}}</p>
                <p class="dm-nowrap">求租时间: {{item.RentalDate}}</p>
                <p class="dm-nowrap">面积大小: {{item.Mu}}</p>
                <p class="dm-nowrap">求租地址: {{item.Area}}</p>
                <p class="dm-nowrap">型号要求: {{item.Model}}</p>
                <p class="dm-nowrap">坐标: {{item.Coor}}</p>

                <ion-option-button class="button-assertive button" ng-click="remove(item)">
                    删除
                </ion-option-button>
            </ion-item>
            <!-- <a class="item" href="tel:15913159968"> -->
                <!-- <span style="position: absolute;right: 10px;bottom: 40px;font-size: 14px;color: gray;">{{item.Area}}</span> -->
                <!-- <span style="position: absolute;right: 10px;bottom: 62px;font-size: 14px;color: gray;">3天</span> -->
                <!-- <p class="dm-nowrap">联系电话:15913159968</p>
                <i class="icon ion-ios-telephone item-font-20 mine-msg-right"></i> -->
            <!-- </a> -->
        <ion-infinite-scroll ng-if="hasMore" spinner="lines" immediate-check='false' distance="1%" on-infinite="fetch(false)"></ion-infinite-scroll>
    </ion-content>

</ion-view>