<ion-modal-view style="background-color: transparent;" ng-click="onCloseWeather()">
    <div style="width: 100%;height: 2000px;background-color: black;opacity: 0.75;"></div>
    <div style="text-align: center;width: 100%;height: 100%;">
        <span style="position: absolute;top:84px;left: 0;right: 0;color: white;font-size: 60px;font-weight: 100">{{WeatherModalData.Air}}°</span>
        <span style="position: absolute;top: 144px;left: 0;right: 0;color: white;font-size: 20px;">{{WeatherModalData.Weath}}</span>
        <span style="position: absolute;top: 174px;left: 0;right: 0;color: white;font-size: 12px;">{{WeatherModalData.Comfort}}</span>
        <span style="position: absolute;top: 204px;left: 0;right: 0;color: white;font-size: 12px;">{{WeatherModalData.Humidity}}</span>
        <span style="position: absolute;top: 234px;left: 0;right: 0;color: white;font-size: 12px;">{{WeatherModalData.Weath}}</span>
        <span style="position: absolute;top: 264px;left: 0;right: 0;color: white;font-size: 12px;">{{WeatherModalData.Wind}}</span>
        <span style="position: absolute;top: 294px;left: 0;right: 0;color: white;font-size: 12px;">空气质量：{{WeatherModalData.Uv}}</span>
    </div>
</ion-modal-view>