@charset "utf-8";

//login start
.bar {
  .login-title {
	font-weight:bold;
  }
  .login-register {
	font-size:dp(32);
	color:white;
	&:hover {
	  color: lightgray;
	}
  }
  .login-close {
	font-size:dp(32);
	color:white;
	&:hover{
	  color:lightgray;
	}
  }
}
.login-mian {
  position:relative;
  width:100%;

  .input-wrap {
	border:1px solid #ccc;
	height:dp(100);
	line-height:dp(100);
	// vertical-align:middle;
	position:relative;
	overflow:hidden;
	padding:0;
  }
  .left-icon-wrap {
	width:dp(100);
	border-right:1px solid #ccc;
	height:dp(70);
	line-height:dp(70);
	display:inline-block;
	text-align:center;

	vertical-align: middle;
	i {
	  color:#999;
	  font-size:dp(60);
	}

  }
  .login-input {
	padding:0 dp(30);
	color:#333;
	font-size:dp(32);
  }
  .forget-passw {
	padding-left:dp(10);
	color:#999;
	font-size:dp(28);
	text-decoration:none;
	display:inline-block;
  }
  .psd-control {
	height:100%;
	border:none;
	background: none;
	vertical-align: middle;
	// margin-top:dp(10);
	i {
	  color:#999;
	  font-size:dp(60);
	}
  }
  .other-login-title {
	color:#999;
	margin-top:dp(60);
  }
}
.login-content {
  width:100%;
  padding:0 dp(20);
}